@font-face {
  font-family: "Caviar Dreams Bold";
  src: url("./fonts/caviar-dreams-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
a {
  text-decoration: none;
  font-family: "Caviar Dreams Bold" !important;
}
body {
  background: #ece6d3;
}
$colors: (
  "primary": #771011,
  "secondary": #c0bfb2,
  "light": #ece6d3,
  "dark": #221712,
  "neutral": #6f635b,
);

html {
  scroll-behavior: smooth;
}